@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: o;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font font-size: 50px;
    margin: 50px;
    
    
}

p{font-size: 40px;

}

header {
    width: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}





.info-container{
    display: flex;
    
    
}

.infobox{
    width: ;
    text-align: center;
    
}

.infobox img{width: 300px;
margin-top: 20px;
margin-bottom: 20px;
}




#workstation {
    background-color: #f2f2f2;
    
}



#logoentete img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ;
}

#weareag {
    height: 850px;
    background-image: url(../imgs/behappy.jpg);
    flex-direction: column;
    color: #f2f2f2;


}

#about {
    flex-direction: column;
    padding: 60px;
    padding-bottom: 80px;
    background-color: #f2f2f2;
    text-align: center;
}

#signature {padding: 30px;
}

#wwd {
    margin-top: 60px;
    
}

#profd {
    justify-content: center;
justify-content: space-evenly;
    height: auto;
}

#handtattoo {
    ;
}

#profdesign {
    background-color: #f2f2f2;

}

#quote {
    background-image: url(../imgs/maincoupe.jpg);
    height: 575px;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
    font-size: 20px;
    text-align: center;

}

#imgquote {
    padding-bottom: 30px;
    padding-top: 30px;
}

#ows {
    background-color: #f2f2f2;
    padding-top: 60px;
    
}


#team {
    display: flex;
    background-color: #f2f2f2;
}

#rosaly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
}

#evaly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#graham {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

#subscribe {
    background-image: url(../imgs/view.jpg);
    height: 340px;
    display: flex;
    flex-direction: column;
    
}

footer  {background-color: dimgrey;
    display: flex;
    align-items: center;
    
}
